@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --black: #000306;
  --transparent-black: rgba(0, 3, 6, 0.1);
  --black-opacity-70: rgba(0, 3, 6, 0.7);
  --white: #f9fcff;
  --white-opacity-60: rgba(249, 252, 255, 0.6);
  --white-opacity-50: rgba(249, 252, 255, 0.5);
  --white-opacity-40: rgba(249, 252, 255, 0.4);
  --grey-opacity-40: rgba(249, 251, 255, 0.4);
  --white-opacity-20: rgba(249, 252, 255, 0.2);
  --grey: #141414;
  --light-grey: #212121;
  --blue: #57aef5;
  --blue-opacity-40: rgba(87, 174, 245, 0.4);
  --red: #f55757;
  --red-alert: #ee3939;
  --red-indicator: #be2f2f;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-khula: var(--font-khula);
  --color-black: var(--black);
  --color-transparent-black: var(--transparent-black);
  --color-black-opacity-70: var(--black-opacity-70);
  --color-white: var(--white);
  --color-white-opacity-50: var(--white-opacity-50);
  --color-grey-opacity-40: var(--grey-opacity-40);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --color-blue: var(--blue);
  --color-blue-opacity-40: var(--blue-opacity-40);
  --color-red: var(--red);
  --color-red-alert: var(--red-alert);
  --color-red-indicator: var(--red-indicator);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer utilities {
  @keyframes slide-fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }

  .animate-slide-fade-in {
    animation: slide-fade-in 0.5s ease-out forwards;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-khula), sans-serif;
  overflow-x: clip;
}

.scroller {
  max-width: 100dvw;
  margin-bottom: 25px;
}

#last-scroller {
  margin-bottom: 0px;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 30%,
    white 70%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 30%, white 70%, transparent);
}

.dev-wrapper[data-animated="true"] {
  margin: 0;
  padding: 0;
  -webkit-mask: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    white 40%,
    white 70%,
    rgba(0, 0, 0, 0.2)
  );
  mask: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    white 40%,
    white 70%,
    rgba(0, 0, 0, 0.2)
  );
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 80s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - calc(25px / 2)));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  font-size: 30px;
  font-weight: 600;
  padding: 1rem 2.5rem;
  background: var(--color-black, canvas);
  border: var(--color-white, canvas) 1px solid;
  border-radius: 0.4rem;
  color: white;
  white-space: nowrap;
}

@media (width <=560px) {
  .scroller {
    margin-bottom: 10px;
  }

  .scroller__inner {
    gap: 10px;
  }

  .tag-list li {
    font-size: 15px;
    padding: 0.5rem 2rem;
  }
}

@media (width > 1440px) {
  .tag-list li {
    font-size: 40px;
    padding: 2rem 5rem;
    border-radius: 0.8rem;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
