@import "tailwindcss";

:root {
  --black: #000306;
  --transparent-black: rgba(0, 3, 6, 0.1);
  --white: #f9fcff;
  --white-opacity-60: rgba(249, 252, 255, 0.6);
  --white-opacity-50: rgba(249, 252, 255, 0.5);
  --white-opacity-40: rgba(249, 252, 255, 0.4);
  --grey-opacity-40: rgba(249, 251, 255, 0.4);
  --white-opacity-20: rgba(249, 252, 255, 0.2);
  --grey: #141414;
  --light-grey: #212121;
  --blue: #57aef5;
  --blue-opacity-40: rgba(87, 174, 245, 0.4);
  --red: #f55757;
  --red-alert: #ee3939;
  --red-indicator: #be2f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-khula: var(--font-khula);
  --color-black: var(--black);
  --color-transparent-black: var(--transparent-black);
  --color-white: var(--white);
  --color-white-opacity-50: var(--white-opacity-50);
  --color-grey-opacity-40: var(--grey-opacity-40);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --color-blue: var(--blue);
  --color-blue-opacity-40: var(--blue-opacity-40);
  --color-red: var(--red);
  --color-red-alert: var(--red-alert);
  --color-red-indicator: var(--red-indicator);
}

@layer utilities {
  @keyframes slide-fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }

  .animate-slide-fade-in {
    animation: slide-fade-in 0.5s ease-out forwards;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-khula), sans-serif;
  overflow-x: clip;
}

.scroller {
  max-width: 100dvw;
  margin-bottom: 25px;
}

#last-scroller {
  margin-bottom: 0px;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 30%,
    white 70%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 30%, white 70%, transparent);
}

.dev-wrapper[data-animated="true"] {
  margin: 0;
  padding: 0;
  -webkit-mask: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    white 40%,
    white 70%,
    rgba(0, 0, 0, 0.2)
  );
  mask: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    white 40%,
    white 70%,
    rgba(0, 0, 0, 0.2)
  );
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 80s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - calc(25px / 2)));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  font-size: 30px;
  font-weight: 600;
  padding: 1rem 2.5rem;
  background: var(--color-black, canvas);
  border: var(--color-white, canvas) 1px solid;
  border-radius: 0.4rem;
  color: white;
  white-space: nowrap;
}

@media (width <= 560px) {
  .scroller {
    margin-bottom: 10px;
  }
  .scroller__inner {
    gap: 10px;
  }

  .tag-list li {
    font-size: 15px;
    padding: 0.5rem 2rem;
  }
}

@media (width > 1440px) {
  .tag-list li {
    font-size: 40px;
    padding: 2rem 5rem;
    border-radius: 0.8rem;
  }
}
