@import "tailwindcss";

:root {
  --black: #000306;
  --white: #f9fcff;
  --white-opacity-60: rgba(249, 252, 255, 0.6);
  --white-opacity-40: rgba(249, 252, 255, 0.4);
  --white-opacity-20: rgba(249, 252, 255, 0.2);
  --grey: #141414;
  --blue: #57aef5;
  --blue-opacity-40: rgba(87, 174, 245, 0.4);
  --red: #f55757;
  --red-alert: #ee3939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-khula: var(--font-khula);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-grey: var(--grey);
  --color-blue: var(--blue);
  --color-blue-opacity-40: var(--blue-opacity-40);
  --color-red: var(--red);
  --color-red-alert: var(--red-alert);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-khula), sans-serif;
  overflow-x: clip;
}
